.uppercased{ text-transform: uppercase;}
.capitalized{text-transform:capitalize;}
.active{background-color:rgba(210,210,210,.8);}

#header-search{position: absolute; right: 0;}
.header-listitem{vertical-align:top}
body {
    background-image: url("img/bkgrnd_print.png"); background-size: cover;
    color: #EEEEEE;
    padding:0;
    
   ul.navtext{index-z:100; a{color:white;font-weight: bolder; font-size: 16px; font-size-adjust: 0.6;text-transform: uppercase;font-stretch: ultra-condensed;}}
   .home-text{font-size:16px}
.jumbotron {  background-color: rgba(0, 0, 0, 0) !important; padding:0;
  .container{ max-width: 1109px;
  .horizontal-bar{width:100%; height:4px; background-color:gray;}
  
  
  
  //-------------  News
  #home-news-banneritems{background-color:gray; font-size: 16px; text-align:left;
            .img-cell{text-align:center; vertical-align: middle;width:24%;
                .thumbnail{margin:10px}
                img{}
            }
            .text-cell{max-width: 600px;width: 55%;}
            .nav-date-cell{text-align:right; vertical-align: top;width: 17%;
                            ul{position:relative;text-align:right; height: 156px;
                            .bottomdate{height:75%}
                            }
             }
            
            .news-banner-text{text-align:left; color:#555; font-weight: bold;font-stretch: ultra-condensed;}
            .news-banner-title{text-align:left;color:#000; font-weight: bolder; font-size: 16px; font-size-adjust: 0.8;text-transform: uppercase;font-stretch: ultra-condensed;}
            .news-banner-date-text{color:#ccc;bottom: 10px; position: absolute;   width: 100%;}                           
  }
  
  //-------------  Framing, Fiber, Concrete 3 Column Banner
    #home-carousel{
      .carousel-inner{
         .item{ 
            .list-inline{
               li.imgLiquidFill{height:500px; width:30%;}
               }//.list-inline                
          }//.item
      }//.carousel-inner
    }//#home-carousel
}//.container
}//.jumbotron


footer{text-align:center}

}//body

.rockytopnav{margin-top:100px;}
//overriding bootstrap 
.navbar-default {
    background-color: transparent;
    border: none;
    
}
