/* line 1, ../sass/rocky.scss */
.scrollspy-example {
  display: block;
  overflow: scroll;
  width: 300px;
  height: 200px;
}

/* line 8, ../sass/rocky.scss */
.margined-paragraph {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 66%;
}

/* line 13, ../sass/rocky.scss */
.carousel-inner {
  text-align: center;
}

/* line 18, ../sass/rocky.scss */
#flashMessages {
  color: #008080;
  font-size: 22px;
}

/* line 20, ../sass/rocky.scss */
#site-news {
  height: 250px;
}

/* line 21, ../sass/rocky.scss */
#site-news-nav {
  position: absolute;
  top: 0;
  right: 35px;
  z-index: 101;
}

/* line 22, ../sass/rocky.scss */
.uppercased {
  text-transform: uppercase;
}

/* line 23, ../sass/rocky.scss */
.capitalized {
  text-transform: capitalize;
}

/* line 24, ../sass/rocky.scss */
.active-mainnav-item, .active {
  background-color: rgba(210, 210, 210, 0.8);
}

/* line 25, ../sass/rocky.scss */
.rocky-img-responsive {
  display: block;
  height: auto;
  width: 55%;
  margin: auto;
}

/* line 28, ../sass/rocky.scss */
.rocky-project-img-responsive {
  display: block;
  height: auto;
  width: 110%;
  margin: auto;
}

/* line 32, ../sass/rocky.scss */
.rocky-center-aligned {
  text-align: center;
}

/* line 36, ../sass/rocky.scss */
.navbar-default {
  background-color: transparent;
  border: none;
}

/* line 42, ../sass/rocky.scss */
.col-md-9 {
  float: right !important;
}

/* line 45, ../sass/rocky.scss */
.col-md-5 {
  width: 66.667% !important;
}

/* line 51, ../sass/rocky.scss */
body {
  background-image: url("img/bkgrnd_print.png");
  background-size: cover;
  background-position: center top;
  color: #EEEEEE;
  padding: 0;
}
/* line 56, ../sass/rocky.scss */
body ul.navtext {
  index-z: 100;
}
/* line 56, ../sass/rocky.scss */
body ul.navtext a {
  color: white;
  font-weight: bolder;
  font-size: 16px;
  font-size-adjust: 0.6;
  text-transform: uppercase;
  font-stretch: ultra-condensed;
}
/* line 57, ../sass/rocky.scss */
body .home-text {
  font-size: 16px;
}
/* line 58, ../sass/rocky.scss */
body .jumbotron {
  background-color: rgba(0, 0, 0, 0) !important;
  padding-bottom: 0;
}
/* line 59, ../sass/rocky.scss */
body .jumbotron .container {
  max-width: 1109px;
}
/* line 60, ../sass/rocky.scss */
body .jumbotron .container .horizontal-bar {
  width: 100%;
  height: 4px;
  background-color: gray;
}
/* line 65, ../sass/rocky.scss */
body .jumbotron .container .home-news-banneritems {
  background-color: gray;
  font-size: 16px;
  text-align: left;
  width: 100%;
}
/* line 66, ../sass/rocky.scss */
body .jumbotron .container .home-news-banneritems .img-cell {
  text-align: center;
  vertical-align: middle;
  width: 24%;
}
/* line 67, ../sass/rocky.scss */
body .jumbotron .container .home-news-banneritems .img-cell .thumbnail {
  margin: 10px;
}
/* line 70, ../sass/rocky.scss */
body .jumbotron .container .home-news-banneritems .text-cell {
  max-width: 600px;
  width: 55%;
}
/* line 71, ../sass/rocky.scss */
body .jumbotron .container .home-news-banneritems .nav-date-cell {
  text-align: right;
  vertical-align: top;
  width: 17%;
}
/* line 72, ../sass/rocky.scss */
body .jumbotron .container .home-news-banneritems .nav-date-cell ul {
  position: relative;
  text-align: right;
  height: 156px;
}
/* line 73, ../sass/rocky.scss */
body .jumbotron .container .home-news-banneritems .nav-date-cell ul .bottomdate {
  height: 75%;
}
/* line 77, ../sass/rocky.scss */
body .jumbotron .container .home-news-banneritems .news-banner-text {
  text-align: left;
  color: #555;
  font-weight: bold;
  font-stretch: ultra-condensed;
}
/* line 78, ../sass/rocky.scss */
body .jumbotron .container .home-news-banneritems .news-banner-title {
  text-align: left;
  color: #000;
  font-weight: bolder;
  font-size: 16px;
  font-size-adjust: 0.8;
  text-transform: uppercase;
  font-stretch: ultra-condensed;
}
/* line 79, ../sass/rocky.scss */
body .jumbotron .container .home-news-banneritems .news-banner-date-text {
  color: #ccc;
  bottom: 10px;
  position: absolute;
  width: 100%;
}
/* line 87, ../sass/rocky.scss */
body .jumbotron .container #home-carousel .carousel-inner .item .list-inline li.imgLiquidFill {
  height: 500px;
  width: 30%;
  vertical-align: middle;
}
/* line 96, ../sass/rocky.scss */
body footer {
  text-align: center;
}

/* line 104, ../sass/rocky.scss */
#project-content.container_16 .grid_11 {
  float: right;
  width: 640px;
}

/* line 112, ../sass/rocky.scss */
#sidebar .has-thick-bottom-border {
  border-bottom: 10px solid rgba(200, 200, 200, 0.5);
  line-height: 2.5;
}
/* line 113, ../sass/rocky.scss */
#sidebar .nav-tabs > li.active > a, #sidebar .nav-tabs > li.active > a:focus, #sidebar .nav-tabs > li.active > a:hover {
  background-color: transparent;
}
/* line 116, ../sass/rocky.scss */
#sidebar .nav > li {
  border-bottom: 0.1px dotted;
}
/* line 117, ../sass/rocky.scss */
#sidebar a {
  color: white;
}
/* line 118, ../sass/rocky.scss */
#sidebar #sidebar-header {
  background-color: rgba(40, 40, 40, 0.77);
  border-top: 2px outset;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  margin-top: -5px;
}
/* line 126, ../sass/rocky.scss */
#sidebar .sidenav-category .category-indicator {
  padding-right: 10px;
}
/* line 127, ../sass/rocky.scss */
#sidebar .sidenav-category a span {
  line-height: 3.5;
}
/* line 128, ../sass/rocky.scss */
#sidebar .sidenav-category .inner-project-nav {
  display: none;
}
/* line 132, ../sass/rocky.scss */
#sidebar #sidenav-footer {
  background-color: rgba(0, 0, 0, 0.3);
  height: 82px;
}
/* line 133, ../sass/rocky.scss */
#sidebar #footer-img-overlay {
  background-color: rgba(100, 100, 100, 0.64);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

/***sidebar***/
/*** Styles to affix sidebar  */
/* line 146, ../sass/rocky.scss */
.body {
  position: relative;
}

/* line 149, ../sass/rocky.scss */
.affix {
  width: inherit;
  position: fixed;
  top: 50px;
}

/* line 155, ../sass/rocky.scss */
.affix-top {
  width: inherit;
  position: absolute;
  top: 295px;
}

/* line 161, ../sass/rocky.scss */
#projects-sidemenu {
  background-color: rgba(200, 200, 200, 0.5);
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}

/* line 162, ../sass/rocky.scss */
.projects-detailcategory-section {
  padding-top: 20px;
}
/* line 164, ../sass/rocky.scss */
.projects-detailcategory-section .category-title {
  font-size: 30px;
}

/* line 166, ../sass/rocky.scss */
.projects-actualdetail-section {
  background-color: rgba(130, 130, 130, 0.92);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 5px;
}
/* line 167, ../sass/rocky.scss */
.projects-actualdetail-section .detail-image {
  height: 300px;
  max-height: 300px;
  width: 100%;
}
/* line 168, ../sass/rocky.scss */
.projects-actualdetail-section dl {
  margin-left: 20px;
}
/* line 169, ../sass/rocky.scss */
.projects-actualdetail-section dt {
  text-align: left;
}

/* line 175, ../sass/rocky.scss */
.contact-form {
  width: 60%;
}
/* line 176, ../sass/rocky.scss */
.contact-form label {
  float: left;
}
/* line 177, ../sass/rocky.scss */
.contact-form input {
  width: 100%;
}
/* line 178, ../sass/rocky.scss */
.contact-form textarea {
  width: 100%;
}
/* line 179, ../sass/rocky.scss */
.contact-form .submit {
  width: 25%;
}

/* line 186, ../sass/rocky.scss */
#community-box .rocky-thumb img {
  max-height: 250px;
}
/* line 187, ../sass/rocky.scss */
#community-box .description-box {
  vertical-align: top;
}

/* line 190, ../sass/rocky.scss */
#community-logos {
  text-align: center;
  width: 90%;
  padding-bottom: 67px;
}
/* line 191, ../sass/rocky.scss */
#community-logos .logo-img-frame {
  display: inline-table;
  max-width: 200px;
}
/* line 192, ../sass/rocky.scss */
#community-logos .logo-img-frame img {
  border-radius: 6px;
}
/* line 193, ../sass/rocky.scss */
#community-logos dt {
  width: 33%;
}
/* line 194, ../sass/rocky.scss */
#community-logos dd {
  width: 66%;
}

/* line 201, ../sass/rocky.scss */
.rockytopnav {
  margin-top: 100px;
}
/* line 202, ../sass/rocky.scss */
.rockytopnav .dropdown-menu {
  margin-top: -1px;
  background-color: lightslategrey;
}
/* line 203, ../sass/rocky.scss */
.rockytopnav .rocky-dropdownmenulevelone-active {
  background-color: #EEEEEE;
}

/* line 210, ../sass/rocky.scss */
#admin-login {
  margin: 120px auto 0;
  max-width: 352px;
}
/* line 213, ../sass/rocky.scss */
#admin-login .box {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 10px;
  min-height: 20px;
  padding: 10px;
}
/* line 221, ../sass/rocky.scss */
#admin-login .box .radio, #admin-login .box .checkbox {
  min-height: 20px;
  padding-left: 20px;
}
/* line 222, ../sass/rocky.scss */
#admin-login .box .radio input[type="radio"], #admin-login .box .checkbox input[type="checkbox"] {
  float: none;
  margin-left: -20px;
  margin-right: 35px;
}
/* line 223, ../sass/rocky.scss */
#admin-login .box input[type="radio"], #admin-login .box input[type="checkbox"] {
  width: auto;
}
/* line 226, ../sass/rocky.scss */
#admin-login .box label {
  color: #428BCA;
}
